@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
}

.top {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
  
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

h2 {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

.top-main {
    display: flex;
    align-items: center;

}

img {
    height: 200px;
    width: auto;
    
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 12px;
    padding: 5px 30px 5px 30px;
    font-size: 14px;
}