@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
}

.top {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 30px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

h2 {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

.top-main {
    display: flex;
    align-items: center;

}

.main-image {
    height: 300px;
    width: auto;
    
}

.main-text {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    margin: 30px;
    
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: white;
    border-radius: 8px;
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    border-style: solid;
}

.container {
    margin-right: 50px;
}

.middle {
    text-align: center;
    font-family: Roboto, sans-serif;
}

.image-area {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 14px;
}

.pic {
    border: solid cornflowerblue;
    border-radius: 12px;
}

.information {
    font-size: 36px; 
    font-weight: bold;
    color: #1F2937;
    margin: 20px;
}